<div style="margin-top: 10%">
  <div class="row">
    <!--显示文章集合-->
    <div class="col-xs-1" style="width: 10%;margin-left: 4%" *ngIf='assortmentList.length > 0'>
      <span>归档</span>
      <ul class="list-unstyled" *ngFor="let item of assortmentList">
        <li><a href="#" class="pulse">{{item.assortmentName}}({{item.articleNum}})</a></li>
      </ul>
      <div *ngIf='dateList.length > 0'>
        <span>日期</span>
        <ul class="list-unstyled" *ngFor="let item of dateList">

          <li><a href="#" class="pulse">{{item.create}}({{item.count}})</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9" style=";margin-top: -5%;word-wrap: break-word; word-break: break-all ;white-space: pre-wrap">
      <h2 style="display: flex;justify-content: center">{{title}}</h2>
      <div style="display: flex;justify-content: center">
        <p style="width: 80%;height: 1px; background: #000;"></p>
      </div>
      <div style="text-align: left" markdown-to-html [data]="content"></div>
    </div>
  </div>
  <!--中间显示文章-->


  <!--显示文章的导航栏-->
  <div class="" style="width: 10%;right: 1%;position: fixed;top: 15%;">
    <ul class="list-unstyled" *ngFor="let title of childTitle">
      <li><a href="#top" class="collection-item"><span style="font-weight:bold;font-size: medium">{{title}}</span></a>
      </li>
    </ul>
  </div>
</div>
<div style="width: 70%;position: absolute;left: 15%">

  <show-comment [toAccountId]="currentAccountId"></show-comment>
</div>
