<div style="display: flex;
    justify-content:center;
    align-items: center;flex-direction: column;width: 100%;">
  <div style="">
    <button mat-icon-button matSuffix style="float: right;">    <mat-icon>close</mat-icon></button>
    <mat-dialog-content style="margin-left: 20%;margin-top: 5%">
      <mat-form-field style="width: 20%">
        <mat-select placeholder="分类：" [(ngModel)]="selectedValue">
          <mat-option *ngFor="let state of states" [value]="state">{{ state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <input [(ngModel)]="selectedValue"/>
      <!--    <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip>Chip 1<mat-chip>
                <mat-chip>Chip 2<mat-chip>
            </mat-chip-list>
            <input matChipInputFor="chipList">
          </mat-form-field>-->
    </mat-dialog-content>
  </div>
  <div style="padding: 1%">
    <label style="float: left">是否置顶：</label>
    <p style="float: left">
      <input name="group1" type="radio" value="true" [(ngModel)]="isSupport" id="test1"/>
      <label for="test1">是</label>
    </p>
    <p style="float: left">
      <input name="group1" type="radio" id="test2" value="false" [(ngModel)]="isSupport"/>
      <label for="test2">否</label>
    </p>
  </div>
  <div *ngIf="isSupport == 'true'">
    <p class="range-field">
      <label class="left" for="test5">置顶顺序：</label>
      <input type="range" id="test5" min="0" max="100"/>
    </p>
  </div>
  <div id="chipGroup" class="chips" data-index="0" data-initialized="true">
    <label class="left" for="chips">标签：</label>
    <input id="chips" [(ngModel)]="chip" (keyup)="onKeyUp($event)" class="input">
  </div>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button (click)="submit()" class="btn btn-primary" style="margin-top: 5%" mat-raised-button [mat-dialog-close]="true"
          color="blue">确定
  </button>
</div>
<!--标签-->
