<div class="row blue-text text-darken-2" xmlns="http://www.w3.org/1999/html">
    <div class="row" style="">
      <div class="input-field col s6" style="display: flex;justify-content: center">
        <i class="material-icons prefix">comment</i>
        <textarea id="comment" [(ngModel)]="comment.comment" class="form-control" rows="3" style="width: 80%">
        </textarea>
        <span class="num-limit"><span id="js-pl-limit">0</span>/300</span>
      </div>
      <div class="" style="float: right;margin-right: 10%;margin-top: 2%">
        <button style="margin-top: 2%" class="btn" type="submit" (click)="submit()">评论
        </button>
      </div>
    </div>
</div>

<ul class="collection list-unstyled" id="commentul">
  <li >
    <img src=""/>
    <span ><a class="	btn btn-link">大西瓜</a></span>
    <span style="color: #9e9e9e">2018-10-10</span>
    <a class="btn btn-link " (click)="replay($event)">回复</a>
    <p style="margin-left: 5%">你真是菜</p>
    <div style="width: 50%;height: 1px; background: #000;"></div>
  </li>
  <ul class="list-unstyled"  style="margin-left: 5%">
    <li>
      <img src=""/>
      <span ><a class="	btn btn-link">小西瓜</a><span>回复</span><a
        class="	btn btn-link">大西瓜</a></span>
      <span style="color: #9e9e9e">2018-10-10</span>
      <a class="btn btn-link " (click)="replay($event)">回复</a>
      <p style="margin-left: 5%">你真是菜</p>
    </li>
  </ul>
</ul>
<div id="operator_avatar_container">
  <div id="operator_avatar" onclick="parent.LC_API.open_chat_window({source:'minimized'}); return false"><span
    class="icon-agentonline"></span></div>
</div>
