<div class="row blue-text text-darken-2">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">comment</i>
        <textarea id="icon_prefix2" class="materialize-textarea "></textarea>
        <label for="icon_prefix2">评论</label>
        <button class="btn waves-effect waves-light #42a5f5 blue lighten-1 right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span class="title blue-text text-darken-2" style="">大西瓜</span>
    <p>你真是菜</p>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title" style="">小西瓜</span>
        <p>你也是菜拉萨的咖啡机流空手道解放卢卡斯京东方了卢卡斯京东方</p>
      </li>
    </ul>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Title</span>
    <p>First Line <br>
      Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle red">play_arrow</i>
    <span class="title">Title</span>
    <p>First Line <br>
      Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>
